# dependencies
/app/node_modules
/api/node_modules
/app/package-lock.json
/api/package-lock.json

# production
/build

# misc
/api/.env
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local